.container {
  display: flex;
  justify-content: center;
}

h1 {
  text-align: center;
}

form {
  border: solid 1px black;
  padding: 24px 15px;
}

button:hover {
  cursor: pointer;
}

a {
  color: blue;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
